@charset "utf-8";
/******************************************************************** configuration ************************************************/
@media only screen and (min-width: 10px) {
	div.abptb_admin table {border: 2px solid var(--tf_color_muted_2);}
	div.abptb_admin table thead,
	div.abptb_admin table tfoot {background: var(--tf_color_muted_2);}
	div.abptb_admin table tbody tr:nth-child(even) {background: var(--tf_color_6);}
	div.abptb_admin table tbody tr:nth-child(odd) {background: var(--tf_color_2);}
	div.abptb_admin .abptb_orders table[class*="_abp"] tbody th,
	div.abptb_admin .abptb_orders table[class*="_abp"] tbody td {vertical-align: top;text-wrap: nowrap;padding: var(--tf_gap_xxs);}
	/*=============================*/
	div.abptb_admin .info_text {background: var(--tf_color_white); padding: var(--tf_gap_xxs) var(--tf_gap_xs); border-left: 4px solid var(--tf_color_navy_blue);}
	/*=============================*/
	div.abptb_admin .group_setting {display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;gap: var(--tf_gap_xs);}
	div.abptb_admin .group_setting > * {-webkit-flex-grow: 1;flex-grow: 1; -webkit-flex-shrink: 1; flex-shrink: 1; -webkit-flex-basis: 45%; flex-basis: 45%;}
	div.abptb_admin .setting_item {padding: var(--tf_gap_xs); background: var(--tf_color_4); width: 100%;border: 2px solid var(--tf_color_3); border-radius: var(--tf_br);min-width: 400px;}
	div.abptb_admin .setting_item .setting_item {border-color: var(--tf_color_alert);background: var(--tf_color_alert);}
	div.abptb_admin .setting_item .setting_item .setting_item {border-color: var(--tf_color_green_pale);background: var(--tf_color_green_pale)}
	div.abptb_admin .group_setting > .full_width,
	div.abptb_admin .group_setting .full_width {-webkit-flex-basis: 100%; flex-basis: 100%;}
	div.abptb_admin .abptb_css_var .group_setting > * {-webkit-flex-basis: 30%; flex-basis: 30%;}
	div.abptb_admin .abptb_css_var .group_setting .setting_item {min-width: 300px;}
	div.abptb_admin .abptb_css_var .group_setting [class*="_form_control"] {min-width: auto;width: auto}
	div.abptb_admin .abptb_on_off .group_setting > * {-webkit-flex-basis: 30%; flex-basis: 30%;}
	div.abptb_admin .abptb_on_off .group_setting .setting_item {min-width: 300px;}
	div.abptb_admin .abptb_on_off .group_setting > .full_width,
	div.abptb_admin .abptb_on_off .group_setting .full_width {-webkit-flex-basis: 100%; flex-basis: 100%;}
	div.abptb_admin [class*="_form_control"] {max-width: max-content;min-width: 200px;}
	div.abptb_admin [class*="_form_control"][class*="_w_full"] {max-width: 100%;min-width: 100%;}
	div.abptb_admin textarea[class*="_form_control"] {max-width: 100%;}
	div.abptb_admin input[class*="_form_control"][type="time"] {max-width: 120px;text-align: center;min-width: 120px;}
	div.abptb_admin [class*="_form_control"].abp_color_picker {min-width: 60px; max-width: 80px;height: 32px;padding: var(--tf_gap_xxs) var(--tf_gap_xs);}
	div.abptb_admin [class*="_form_control"][class*="_min_150"] {min-width: 150px;max-width: 100%;}
	div.abptb_admin .abp_dropdown [class*="_form_control"] {max-width: 100%;}
	div.abptb_admin table [class*="_form_control"],
	div.abptb_admin .faq_configuration [class*="_form_control"],
	div.abptb_admin .feature_area [class*="_form_control"] {min-width: 100px;width: 100%;max-width: 100%;}
	div.abptb_admin .abptb_routing [class*="_form_control"] {min-height: 30px;}
	/*=============================*/
	div.abptb_admin .multi_stock table {width: inherit;}
	/*=============================*/
	div.abptb_admin .selection_area { position: relative;width: max-content;max-width: 250px;}
	div.abptb_admin div.selection_area label input { border: 2px solid var(--tf_color_theme);}
	div.selection_area .selection_list {border: 2px solid var(--tf_color_theme);border-top: none; max-height: 200px;background: #FFF; overflow-y: auto; position: absolute;top: 100%;left: 0;right: 0;z-index: 2222;opacity: 0; visibility: hidden; transform: translateY(-10px); transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;}
	div.selection_area .selection_list.active { opacity: 1; visibility: visible; transform: translateY(0); }
	div.selection_area .selection_item { display: -webkit-flex;display: flex; align-items: center; -webkit-justify-content: space-between;justify-content: space-between; padding: var(--tf_gap_xs); border-bottom: 1px solid var(--tf_color_border); cursor: pointer; background: #FFF; }
	div.selection_area .selection_item:last-child { border-bottom: none; }
	div.selection_area .selection_item:hover { background: #F0F7FF; }
	div.selection_area .selection_item span { color: #333; }
	div.selection_area .selection_item .fs-add { color: #CCC;margin: 0 0 0 var(--tf_gap_xs); }
	div.selection_area .selection_item:hover .fs-add { color: #378ADD; }
	div.abptb_admin .selected_area { overflow: hidden; position: relative;width: 100%; }
	div.selected_area .selected_list {display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;gap: var(--tf_gap_xs);}
	div.selected_area .selected_item { display: -webkit-flex;display: flex; align-items: center; -webkit-justify-content: space-between;justify-content: space-between; border-radius: var(--tf_br);padding: var(--tf_gap_xs); background: #FFF; width: max-content;min-width: 200px;max-width: max-content;height: 40px;border: 1px solid var(--tf_color_border);box-shadow: var(--tf_shadow_10);}
	div.selected_area .item_remove { cursor: pointer;margin: 0 0 0 var(--tf_gap_xs); }
	div.abptb_admin .item_empty { padding: var(--tf_gap_xs); color: #BBB; text-align: center; }
	/*=============================*/
	div.abptb_admin .configuration_content .edit_area {display: none;}
	/*=============================*/
	div.abptb_admin .wp-picker-container {position: relative;}
	div.abptb_admin .wp-picker-holder {position: absolute;z-index: 9999;right: 0;}
	div.abptb_admin .wp-picker-input-wrap {display: -webkit-inline-flex;display: inline-flex;}
	div.abptb_admin .wp-color-result-text {display: none;}
	div.abptb_admin button.wp-color-result {width: 40px;height: 32px;margin: 0 !important; border-right: none; border-radius: var(--tf_br) 0 0 var(--tf_br);border-color: var(--tf_color_border);}
	div.abptb_admin .wp-picker-default {margin: 0 !important; border-left: none; border-radius: 0 var(--tf_br) var(--tf_br) 0;border-color: var(--tf_color_border);}
	/*=============================*/
	#abptb_configuration.global_config {max-width: 1200px;margin: 0 auto;}
	#abptb_configuration {border: none;}
	#abptb_configuration div.abptb_admin {max-width: 100%;width: 100%;border-radius: var(--tf_br_xl); margin: 0}
	/*=============================*/
	#abptb_configuration .inside,
	#abptb_configuration .form-section {margin: 0;padding: 0;}
	#abptb_configuration .postbox-header { display: none;}
	#abptb_configuration .postbox-header h2 {color: var(--tf_color_light);font-size: var(--tf_fs_h4);-webkit-justify-content: flex-start;justify-content: flex-start;padding: var(--tf_gap_xs) var(--tf_gap);}
	#abptb_configuration .postbox-header h2 span {margin: 0 var(--tf_gap_xs) 0 0;}
	#abptb_configuration .wp-editor-wrap {width: 100%;margin: var(--tf_gap_xs) 0 0 0;}
	#abptb_configuration .wp-editor-wrap iframe {min-height: 300px;}
}
/******************************************************************** add Icon image/Image upload ************************************************/
@media only screen and (min-width: 10px) {
	div.abptb_admin .icon_image_selection_area {position: relative;max-width: 120px;}
	div.abptb_admin .icon_image_selection_area [class*="_img_control"] {max-height: 100px;}
	div.abptb_admin .icon_image_selection_area button {padding: var(--tf_gap_xxs);font-size: 12px;}
	div.abptb_admin .icon_image_selection_area [class*="_img_control"] {border-radius: 0;padding: 0 var(--tf_gap_xxs) 0 0;}
	div.abptb_admin .icon_image_selection_area div.icon_item {padding: var(--tf_gap_xxs);background-color: var(--tf_color_light);font-size: 30px; line-height: 1;}
	div.abptb_admin .icon_image_selection_area img.emoji {height: 35px !important;}
	div.abptb_admin .icon_item:hover .icon_close,
	div.abptb_admin .image_item:hover .icon_close {opacity: 1;}
	div.abptb_admin .popup_icon .popup_area {max-width: 100vw;width: 100%;height: 100vh;}
	div.abptb_admin .popup_icon .popup_head { color: #FFF;height: 60px; margin: 0 auto;width: 100%;background-color: #222;position: relative; border-bottom: 1px solid #FFF; }
	div.abptb_admin .popup_icon .popup_head h2 { color: #FFF;text-align: center; font-size: 30px !important; font-weight: 500; }
	div.abptb_admin .popup_icon .popup_body {height: 100%;}
	div.abptb_admin .popup_icon .item_icon_area { width: 100%; display: -webkit-flex;display: flex; -webkit-flex-wrap: wrap;flex-wrap: wrap; }
	div.abptb_admin .popup_icon .icon_item {
		min-width: 100px;font-size: var(--tf_fs_h1);margin: var(--tf_gap_xxs);padding: var(--tf_gap_xxs);cursor: pointer; border: 2px solid #FFF;background-color: #F2F2F2;
		display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center;-webkit-flex-direction: column; flex-direction: column;
		-webkit-box-shadow: 0 1px 4px 1px #DBDBDB; box-shadow: 0 1px 4px 1px #DBDBDB;text-align: center;
		-webkit-transition: var(--tf_transition); transition: var(--tf_transition);
	}
	div.abptb_admin .popup_icon .icon_item i {font-size: var(--tf_fs_small);margin-top: var(--tf_gap_xxs);}
	div.abptb_admin .popup_icon .icon_item.active,
	div.abptb_admin .popup_icon .icon_item:hover {border-color: var(--tf_color_theme);color: var(--tf_color_theme);border-radius: var(--tf_gap_xxs);}
	div.abptb_admin .popup_icon .icon_item img.emoji {height: var(--tf_fs_h1) !important;}
	/******************************************************************** Image upload  ************************************************/
	div.abptb_admin .multiple_image { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;gap: var(--tf_gap_xs);}
	div.abptb_admin .multiple_image_item { position: relative; width: auto; height: 100px;border: 2px solid var(--tf_color_theme);border-radius: var(--tf_br);overflow: hidden;}
	div.abptb_admin .multiple_image_item [class*="_img_control"] {height: 100%;width: auto;}
	div.abptb_admin span.remove_image,
	div.abptb_admin span.remove_image_multi { cursor: pointer; position: absolute; top: 0; right: 0; background-color: var(--tf_color_danger);margin: 0; opacity: 0;color: var(--tf_color_white);z-index: 111; }
	div.abptb_admin .multiple_image_item:hover span.remove_image_multi {opacity: 0.9;}
	div.abptb_admin .add_image {max-width: 150px;width: 100%;}
	/******************************************************************** ************************************************/
	div.abptb_admin .image_selection {max-width: 150px;width: 100%;}
	div.abptb_admin .image_selection .image_item {position: relative; width: 100%;}
	div.abptb_admin .image_selection .image_remove {font-size: var(--tf_fs_small);position: absolute;top: 0;right: 0;cursor: pointer; opacity: 0;border-radius: 50%;border: 2px solid var(--tf_color_warning);z-index: 1;transition: opacity .2s;padding: var(--tf_gap_xxs);}
	div.abptb_admin .image_selection .image_item:hover .image_remove {opacity: 1;}
}
/********************************************************************Custom ************************************************/
@media only screen and (min-width: 10px) {
	div.abptb_admin {margin: 0 0 0 -20px;max-width: calc(100% + 20px);width: calc(100% + 20px);}
	div.abptb_admin .admin_head {background-color: var(--tf_color_dark);color: var(--tf_color_off_white);padding: var(--tf_gap_xs) var(--tf_gap);display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap;flex-wrap: wrap;gap: var(--tf_gap_xs);justify-content: space-between;align-items: center; }
	div.admin_head .brand_icon {color: var(--tf_color_off_white);font-size: var(--tf_fs_h3);}
	div.admin_head .brand_version {color: var(--tf_color_5);}
	div.abptb_admin div.admin_head .brand_icon img.emoji {height: var(--tf_fs_h3) !important;}
	/********************/
	div.abptb_admin .dashboard_content {margin: var(--tf_gap);}
	div.abptb_admin .dashboard_content .menu_list {padding: 0}
	div.abptb_admin .abptb_posts {overflow-x: auto;width: 100%;}
	div.abptb_admin .abptb_posts table{min-width: 1000px;}
	div.abptb_admin .tax_category table {text-align: left;}
	div.abptb_admin .dashboard_content [class*="_panel_head"] [class*="_group_content"] {white-space: nowrap; -webkit-flex-wrap: wrap;flex-wrap: wrap;gap: var(--tf_gap_xxs);}
	div.abptb_admin .dashboard_content [class*="_panel_head"] [class*="_group_content"] > * {-webkit-justify-content: center; justify-content: center; -webkit-flex: 1; flex: 1; min-width: max-content; border: none;}
}
/********************************************************************Seat plan ************************************************/
@media only screen and (min-width: 10px) {
	#abptb_sp_builder .sp_list {margin: var(--tf_gap_xs) 0 0 0; }
	#abptb_sp_builder {}
	#abptb_sp_builder .sp_title img.emoji {height: 30px !important;}
	#abptb_sp_builder .sp_section_card_xs {background: #FFF8E5;width: 100%; padding: var(--tf_gap_xs); border: 1px solid #FFB900; border-radius: var(--tf_br);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); }
	#abptb_sp_builder .sp_tab_content { display: none; }
	#abptb_sp_builder .sp_tab_content.abp_active { display: block; }
	#abptb_sp_builder .sp_group_seats,
	#abptb_sp_builder .sp_group_others {display: -webkit-flex; display: flex;gap: var(--tf_gap_xxs);-webkit-flex-direction: column; flex-direction: column;margin-top: var(--tf_gap_xs); }
	#abptb_sp_builder .group_item {display: -webkit-flex; display: flex;-webkit-align-items: center; align-items: center; gap: var(--tf_gap_xs); border: 1px solid var(--tf_color_border); cursor: grab; background: #F9F9F9;}
	#abptb_sp_builder .group_item label {max-width: 90px; display: none;width: 50%;margin: 0 var(--tf_gap_xxs) 0 0; }
	#abptb_sp_builder .group_item label input {max-width: 100%; min-width: 75px; width: max-content;min-height: auto;}
	#abptb_sp_builder .group_item.selected { border-color: #007CBA; background: #F0F6FA;}
	#abptb_sp_builder .group_item.selected label {display: -webkit-flex; display: flex; }
	#abptb_sp_builder .group_item .abp_image {width: auto;}
	#abptb_sp_builder .group_item img {height: 20px;min-height: 20px;width: auto;}
	#abptb_sp_builder .color_badge { width: 15px; height: 15px; border-radius: 3px; display: inline-block; }
	#abptb_sp_builder .sp_builder { flex: 1; background: #F0F0F0; padding: 20px; border: 1px solid #CCD0D4; overflow: auto; }
	#abptb_sp_builder .sp_canvas { display: grid; position: relative; background-size: cover; background-position: center; background-repeat: no-repeat; padding: 10px; background-color: #FFF; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); width: max-content;}
	#abptb_sp_builder .sp_cell { display: flex; flex-direction: column; -webkit-align-items: center; align-items: center;justify-content: center; position: relative; font-size: 11px; user-select: none; box-sizing: border-box; cursor: pointer; background: rgba(255, 255, 255, 0.8); border: 1px dashed #CCC; transition: all 0.1s ease;overflow: hidden;}
	#abptb_sp_builder .sp_cell .cell_icon { font-size: 16px; margin-bottom: 2px; }
	#abptb_sp_builder .sp_cell[draggable="true"] { cursor: grab;}
	#abptb_sp_builder .sp_cell:active { cursor: grabbing;}
	#abptb_sp_builder .sp_cell.cell_hidden { display: none !important;}
	#abptb_sp_builder .cell_content { display: flex; flex-direction: column; -webkit-align-items: center; align-items: center; justify-content: center; width: 100%; height: 100%; transition: transform 0.2s ease; background-repeat: no-repeat; background-position: center; background-size: cover; }
	#abptb_sp_builder .rotate-90 .cell_content { transform: rotate(90deg); }
	#abptb_sp_builder .rotate-180 .cell_content { transform: rotate(180deg); }
	#abptb_sp_builder .rotate-270 .cell_content { transform: rotate(270deg); }
	#abptb_sp_builder .sp_rotation { position: absolute; top: 0; right: 0; font-size: var(--tf_fs_h5); color: var(--tf_color_theme); cursor: pointer; z-index: 5; opacity: 0;transition: opacity 0.2s ease; }
	#abptb_sp_builder .sp_cell:hover .sp_rotation { opacity: 1;}
	#abptb_sp_builder .span_control {display: none;}
}
