@charset "utf-8";
/******************************************************************** Registration, Form  details************************************************/
@media only screen and (min-width: 10px) {
	#abptb_search_area {background: var(--tb_color_white); border-radius: var(--tb_br); padding: var(--tb_gap); box-shadow: var(--tb_shadow_29); display: -webkit-flex;display: flex; gap: var(--tb_gap_xs); -webkit-flex-direction: column;flex-direction: column;width: 100%;}
	#abptb_search_area form {max-width: 100%;}
	/**********************************/
	div.abptb_booking form {margin: var(--tb_gap) 0;}
	div.abptb_booking form.double_route {display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap; gap: var(--tb_gap);}
	div.abptb_booking .booking_area {display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap; gap: var(--tb_gap);-webkit-flex-grow: 1;flex-grow: 1; -webkit-flex-shrink: 1; flex-shrink: 1; -webkit-flex-basis: 45%; flex-basis: 45%;min-width: 600px;}
	div.abptb_booking .booking_item {display: -webkit-flex;display: flex; gap: var(--tb_gap); -webkit-flex-direction: column;flex-direction: column;width: 100%;}
	div.abptb_booking .booking_content {display: -webkit-flex;display: flex; gap: var(--tb_gap);-webkit-flex-grow: 1;flex-grow: 1; -webkit-flex-shrink: 1; flex-shrink: 1; -webkit-flex-basis: 45%; flex-basis: 45%;min-width: 600px;}
	div.abptb_booking .booking_content .ticket_item {margin: 0;}
	div.abptb_booking form.double_route .booking_content {-webkit-flex-direction: column;flex-direction: column;width: 100%;}
	div.abptb_booking .booking_area .post_top_filter {margin: 0;}
	div.abptb_booking .booking_area .ticket_content {display: -webkit-flex;display: flex; gap: var(--tb_gap); -webkit-flex-direction: column;flex-direction: column;width: 100%;min-width: 550px;}
	div.abptb_booking .booking_area .ticket_right {display: -webkit-flex;display: flex; gap: var(--tb_gap); -webkit-flex-direction: column;flex-direction: column;width: 100%;min-width: 400px;}
	div.abptb_booking .total_continue_area,
	div.abptb_booking .additional_service_area {width: 100%;display: none; }
	div.additional_service_area .additional_service { padding: var(--tb_gap);}
	div.abptb_booking .total_continue {display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;-webkit-align-items: center;align-items: center;padding: var(--tb_gap);;}
	div.client_info_area div.attendee_item {position: relative;display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap; flex-wrap: wrap;-webkit-justify-content: space-between; justify-content: space-between; padding: var(--tb_gap);}
	div.attendee_item [class*="_input_item"] {display: inline-block;margin: var(--tb_gap_xs) 0 0 0;width: 50%;}
	div.attendee_item [class*="_input_item"] [class*="_form_control"] {width: 100%;border-radius: 0;min-width: initial; max-width: initial;}
	div.attendee_item [class*="_input_item"].abptb_textarea,
	div.attendee_item [class*="_input_item"].custom_checkbox,
	div.attendee_item [class*="_input_item"].custom_radio {width: 100%;}
}
/******************************************************************** List Grid Property item ************************************************/
@media only screen and (min-width: 10px) {
	.abptb_area .post_top_filter {border-radius: var(--tb_br);display: -webkit-flex;display: flex;flex-wrap: wrap;-webkit-justify-content: space-between;justify-content: space-between; -webkit-align-items: center;align-items: center; margin: var(--tb_gap) 0;padding: var(--tb_gap_xs); background: var(--tb_color_4);}
	/*********************************/
	.abptb_area .item_head {background: var(--tb_color_4); padding: var(--tb_gap_xs); text-align: center; position: relative;width: 100%;min-height: auto;display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;line-height: 1;}
	.abptb_area .item_head i {font-size: 75px;padding: var(--tb_gap);min-height: 150px;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
	.abptb_area .item_head .list_title {position: absolute;left: 0;right: 0;bottom: 0;padding: var(--tb_gap_xs);color: var(--tb_color_theme);z-index: 111;text-align: center;font-size: var(--tb_fs_h5);}
	.abptb_area .item_head .list_title:hover {background-color: var(--tb_color_theme_alter);}
	div.abptb_area .item_head .list_title img.emoji {height: var(--tb_fs_h5) !important;}
	/*********************************************/
	.abptb_area .item_body {padding: var(--tb_gap_xs);display: -webkit-flex;display: flex; -webkit-flex-direction: column;flex-direction: column;}
	div.abptb_area .item_spec { margin: var(--tb_gap_xxs) 0;}
	.abptb_area .pricing_box { background: var(--tb_color_light); padding: var(--tb_gap_xs); border-radius: var(--tb_br)}
	.abptb_area .price_row {display: flex; justify-content: space-between; align-items: center; font-size: var(--tb_fs_h6); color: #6B7280;}
	div.abptb_area .price_value {font-weight: 500; color: var(--tb_color_theme);font-size: var(--tb_fs_h5); }
	.abptb_area .item_condition {font-size: var(--tb_fs); color: #6B7280;margin-top: var(--tb_gap_xs);}
	.abptb_area .cost_label {font-size: var(--tb_fs_label); color: #6B7280; margin-bottom: var(--tb_gap_xs);}
	.abptb_area .cost_value {font-size: var(--tb_fs_h2); font-weight: 800; color: var(--tb_color_secondary);}
	.abptb_area .cost_condition {font-size: var(--tb_fs_h6); font-weight: 800; color: var(--tb_color_secondary);}
	.abptb_area .item_select {display: flex; align-items: center; justify-content: space-between; gap: var(--tb_gap_xs); cursor: pointer; transition: all 0.3s ease;}
	.abptb_area .item_select .custom_checkbox {margin: 0 var(--tb_gap_xs) 0 0;}
	.abptb_area .item_select .custom_checkbox .checkbox_item {display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;font-size: var(--tb_fs_h6);gap: var(--tb_gap_xs);}
	.abptb_area .item_location {font-size: var(--tb_fs_h6);margin-bottom: var(--tb_gap_xs);line-height: 1;display: -webkit-flex;display: flex;}
	/*********************************************/
	div.abptb_area div.pagination_item.abp_close {display: none;}
	div.abptb_area div.pagination_item::before { content: ""; position: absolute; inset: 0; min-width: 80px; background-size: 200% 100%; pointer-events: none; z-index: 1; transition: ease-in-out 0.3s; }
	div.abptb_area div.pagination_item::after { content: ""; position: absolute; inset: 0; background: rgba(200, 68, 10, 0); transition: background 0.25s; pointer-events: none; z-index: 2; }
	div.abptb_area div.pagination_item:hover::after { background: rgba(200, 68, 10, 0.10); }
	/*********************************************/
	div.abptb_area .abptb_grid {border-radius: var(--tb_br_xl); display: grid; gap: var(--tb_gap);column-gap: var(--tb_gap);}
	div.abptb_area .abptb_grid .item_box_1 {break-inside: avoid; -webkit-column-break-inside: avoid; page-break-inside: avoid; display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;}
	div.abptb_area .abptb_grid .item_head {padding: 0;height: auto;}
	div.abptb_area .abptb_grid .item_body {-webkit-justify-content: space-between;justify-content: space-between;height: 100%;}
	div.abptb_area .abptb_grid .list_title {padding: 0;color: var(--tb_color_rose_dusty);font-size: var(--tb_fs_h4);}
	div.abptb_area .abptb_grid .item_body .price_value {font-size: var(--tb_fs_h6); font-weight: 500;}
	div.abptb_area .abptb_grid .list_title img.emoji {height: var(--tb_fs_h4) !important;}
	/**************************************/
	div.abptb_area .abptb_lists {position: relative;display: -webkit-flex;display: flex; -webkit-flex-direction: column;flex-direction: column;width: 100%;}
	div.abptb_area .abptb_lists .item_box_1 {position: relative;display: -webkit-flex;display: flex; width: 100%;margin: 0 0 var(--tb_gap) 0;overflow: hidden;}
	div.abptb_area .abptb_lists .item_head {padding: 0;width: 400px;min-width: 200px;max-width: 40%;overflow: hidden;}
	div.abptb_area .abptb_lists .item_body {-webkit-justify-content: space-between;justify-content: space-between;padding: var(--tb_gap_xs);width: 100%;height: auto;}
	div.abptb_area .abptb_lists .list_title {padding: 0;color: var(--tb_color_rose_dusty);font-size: var(--tb_fs_h4);}
	div.abptb_area .abptb_lists .item_body .price_value {font-size: var(--tb_fs_h5); font-weight: 500;}
	div.abptb_area .abptb_lists .list_title img.emoji {height: var(--tb_fs_h4) !important;}
	/***************************************/
	div.abptb_area .abptb_missionary {border-radius: var(--tb_br_xl); display: block; column-gap: var(--tb_gap);}
	div.abptb_area .abptb_missionary .item_head {padding: 0;}
	div.abptb_area .abptb_missionary .item_box_1 {position: relative;margin-bottom: var(--tb_gap); break-inside: avoid; -webkit-column-break-inside: avoid; page-break-inside: avoid;}
	/*******************Group property********************/
	div.abptb_area .group_property {margin: var(--tb_gap) 0 0 0;padding: var(--tb_gap);}
	div.abptb_area .group_property .ticket_item {display: -webkit-flex;display: flex;-webkit-align-items: stretch;align-items: stretch;}
	div.abptb_area .group_property .item_head {min-width: 100px;max-width: 200px;padding: 0;min-height: auto;}
	div.abptb_area .group_property .item_head i {font-size: 50px;padding: var(--tb_gap_xs);min-height: auto;}
	div.abptb_area .group_property .property_details {padding: 0 0 0 var(--tb_gap_xs);border-left: 2px solid var(--tb_color_border);width: 100%;max-width: 100%;}
	div.abptb_area .group_property .property_title_price { display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between; }
	div.abptb_area .group_property .item_condition { padding: 0 0 var(--tb_gap_xxs) 0;margin: 0;}
	div.abptb_area .group_property .pricing_box {margin: var(--tb_gap_xxs) var(--tb_gap_xs) var(--tb_gap_xxs) 0;}
	div.abptb_area .group_property .price_row {-webkit-flex-direction: column;flex-direction: column;-webkit-justify-content: center;justify-content: center;min-width: max-content;}
	div.abptb_area .group_property .price_value {font-weight: bold;}
	div.abptb_area .group_property .item_select { margin: 0;padding: var(--tb_gap_xxs); }
	div.abptb_area .group_property .ticket_item_bottom {display: -webkit-flex;display: flex;flex-wrap: wrap;-webkit-justify-content: space-between;justify-content: space-between; width: 100%;max-width: 100%;-webkit-align-items: flex-end;align-items: flex-end;}
	div.abptb_area .group_property .cost_label,
	div.abptb_area .group_property .cost_value { margin: 0 var(--tb_gap_xxs);font-size: var(--tb_fs);}
	@media only screen and (max-width: 1000px) {
		div.abptb_area .group_property .item_head {max-width: 100px;}
		div.abptb_area .group_property .ticket_item_bottom {-webkit-flex-direction: column;flex-direction: column;-webkit-align-items: flex-start;align-items: flex-start; gap: var(--tb_gap_xs);}
	}
	@media only screen and (max-width: 600px) {
		div.abptb_area .abptb_lists .item_box_1 {position: relative;display: -webkit-flex;display: flex; -webkit-flex-direction: column;flex-direction: column;width: 100%;; }
		div.abptb_area .abptb_lists .item_head {width: 100%;min-width: 100%;max-width: 100%;}
		div.abptb_area .abptb_lists .item_body {width: 100%;min-width: 100%;max-width: 100%;}
		/********************/
		div.abptb_area .group_property .item_head {min-width: 80px;max-width: 80px;}
		div.abptb_area .group_property .property_title_price {-webkit-flex-direction: column;flex-direction: column;}
		div.abptb_area .group_property .price_row { font-size: var(--tb_fs_h6);}
		div.abptb_area .group_property .price_value {font-size: var(--tb_fs_h6);margin: 0 0 0 var(--tb_gap_xs);}
		div.abptb_area .group_property .price_row {-webkit-flex-direction: initial;flex-direction: initial;-webkit-justify-content: flex-start;justify-content: flex-start;margin: var(--tb_gap_xxs) 0;}
	}
}
/******************************************************************** ticket_area************************************************/
@media only screen and (min-width: 10px) {
	/*=============================*/
	/*=============================*/
	span[aria-hidden="true"] { display: none !important; }
}
/******************************************************************** shortcode ************************************************/
@media only screen and (min-width: 10px) {
}
/******************************************************************** ************************************************/
@media only screen and (min-width: 10px) {
}
/******************************************************************** Responsive ************************************************/
@media only screen and (max-width: 1050px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
}
